* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   background: linear-gradient(120deg, #1c1c1c, #2a2a2a 30%, #444444 60%, #1c1c1c 90%);

}

.calculator {
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgb(173, 216, 230, 0.2);
}

input {
    width: 320px;
    text-align: right;
    padding: 20px;
    font-size: 30px;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    box-shadow: 0px 3px 15px rgb(173, 216, 230, 0.2);
    margin-bottom: 10px;
}

input::placeholder {
    color: white;
}

button {
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    box-shadow: -5px -5px 15px rgb(173, 216, 230, 0.2);
    font-weight: 600;
    cursor: pointer;
}

.operator {
    color: chartreuse;
}