* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(0, 0, 0, 0.7);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stopwatch {
    background-color: rgb(0, 0, 0, 0.9);
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
}

.timer-display {
    font-size: 50px;
    font-weight: 600;
}

.buttons {
    margin-top: 20px;
}

.btn {
    border: none;
    background: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 25px;
    margin-inline: 12px;
    border-radius: 10px;
}

#start {
    background-color: green;
}

#lap {
    background-color: rgb(0, 197, 197);
    visibility: hidden;
}

#reset {
    background-color: blue;
    visibility: hidden;
}

#timer-lap {
    background-color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px 70px;
    border-radius: 10px;
}

#timer-lap p {
    padding: 10px 0px;
}